<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <meta charset="UTF-8">
    <title>HvalybovProject</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/" class="current">Главная страница</a></li>
        <li><a href="/demand">Востребованность</a></li>
        <li><a href="/geography">География</a></li>
        <li><a href="/skills">Навыки</a></li>
        <li><a href="/last_vacancies">Последние вакансии</a></li>
    </ul>
</nav>
<header>
    <img src="{% static 'img/logo.jpg' %}" class="logo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <h1 class="title">Python-developer</h1>
</header>
<main>
    <p>Python-разработчик — это человек, который разрабатывает сервисы и приложения на специальном языке — Python. Этот язык покрывает самые различные задачи начиная от создания сайтов, игр и заканчивая работой с Big Data и искусственным интеллектом. Также этот разработчик обязательно должен уметь составлять и читать техническое задание и знать специальную терминологию. Обучиться на Python-разработчика можно примерно за год — это довольно быстро по сравнению с обучением на других специальностях. А если говорить о зарплате, то уже на старте можно получать порядка 50 тысяч рублей в месяц. Заинтересовали? Узнайте больше в нашей статье!</p>
    <h2>Python-разработчик — кто это и чем занимается?</h2>
    <p>
        Python-разработчик (также Python-developer, Python-программист) — это программист, который применяет в работе определенный язык программирования — Python.
        Python — это высокоуровневый язык программирования, в арсенале которого библиотеки на все случаи жизни. Язык покрывает самые различные задачи, начиная от создания сайтов, игр и заканчивая работой с Big Data и искусственным интеллектом. Также он довольно-таки прост для изучения и использования, чего не скажешь о других языках программирования.
    </p>
    <p>
        Язык универсален, при помощи него можно выполнять работу разного рода, например, писать плагины и скрипты, разрабатывать игры, мобильные приложения, онлайн-сервисы, сопровождать программное обеспечение.
        Согласно информации на habr.com, средняя зарплата junior’а — примерно 50 тысяч рублей в месяц, middle разработчика — примерно 100 тысяч рублей, ну а seniors за свою работу могут получать от 150 тысяч и выше.
    </p>
    <h2>Как долго надо учиться на Python-разработчика?</h2>
    <p>Если вы планируете получить специальность в университете, потратите около 4-х лет. Если вы намерены учиться самостоятельно, у вас может уйти от года, чтобы понять азы. Если мы рассматриваем онлайн-университеты, в основном обучение на курсах Python-разработчика занимает примерно 12 месяцев.</p>
</main>
<footer>
    <p>Хвалыбов Роман Алексеевич</p>
    <p>РИ-210949</p>
</footer>
</body>
</html>